body {
    background-image: linear-gradient(to left, #CE9461, #E0D8B0, rgba(0, 0, 0, 0.7));
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 8px;
    font-size: 15px;
    transition: 1s;
    border-radius: 15px;
}
nav ul li a:hover{
    color: white;
    background-color: black;
}
.row{
    display: flex;
    height: 20px;
    align-items: center;
}
.col{
    flex-basis: 100%;
}
pre{
    background: #CC9B6D;
    color: black;
    border-radius: 60px;
    font-family: 'Noto';
    font-size: 24px;
    padding: 20px;
    position: absolute;
    top: 250px;
    left: 150px;
}
h4{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: -100px;
}
h6{
    color: white;
    font-size: 17px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
.card{
    width: 400px;
    height: 400px;
    display: inline-block;
    border-radius: 15px;
    margin: 15px 25px;
    padding: 250px 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card1{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(okul.jpg);
}
.card2{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(otel.jpg);
}
.card3{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(oyun.jpg);
}
.card4{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(hobi.jpg);
}
.card:hover{
    transform: translateY(-15px);
}